.box{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    display: inline-block;
    margin:10px;
    padding-top: 70px
}

button{
    margin: 20px;
}

.card {
    width: 30%;
    display: inline;
    float: left;
    margin: 2% 1%;
}